/* P5 WEB TEMPLATE 1.9 */
audio,canvas,video{display:inline;zoom:1;}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}button,input,select,textarea{font-family:sans-serif;color:#222;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0;}ins{background:#ff9;color:#000;text-decoration:none;}mark{background:#ff0;color:#000;font-style:italic;font-weight:700;}pre,code,kbd,samp{font-family:monospace,monospace;_font-family:'courier new',monospace;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:none;}q:before,q:after{content:none;}small{font-size:85%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}dd{margin:0 0 0 40px;}nav ul,nav ol{list-style:none;list-style-image:none;margin:0;padding:0;}img{border:0;-ms-interpolation-mode:bicubic;vertical-align:middle;}fieldset,figure,form,ul,ol,body{border:0;margin:0;padding:0;}label{cursor:pointer;}legend{border:0;margin-left:-7px;padding:0;}button,input,select,textarea{font-size:100%;vertical-align:middle;margin:0;}button,input{line-height:normal;overflow:visible;}table button,table input{overflow:auto;}button,input[type=button],input[type=reset],input[type=submit]{cursor:pointer;-webkit-appearance:button;}input[type=checkbox],input[type=radio]{box-sizing:border-box;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}textarea{overflow:auto;vertical-align:top;resize:vertical;}table{border-collapse:collapse;border-spacing:0;}td{vertical-align:top;}.ir{display:block;border:0;text-indent:-999em;overflow:hidden;background-color:transparent;background-repeat:no-repeat;text-align:left;direction:ltr;}audio:not([controls]),[hidden],.ir br{display:none;}::-moz-selection,::selection{background:#666;color:#fff;text-shadow:none;}
* { -moz-box-sizing: border-box; box-sizing: border-box; }
a:link, a:visited, a:active { text-decoration : none; color : black; transition: all 0.3s ease-out; }
a:hover { color : red; outline: 0;}
a:focus, a:active { outline: 0; }
.hidden, .hide { display : none !important; }
.show, article { display : block; }
.invisible { visibility: hidden;}
.clearfix:before, .clearfix:after {content: " "; display: table;} .clearfix:after {clear: both;} .clearfix {*zoom: 1;}
.disabled { pointer-events: none; filter: alpha(opacity=50); opacity: 0.5;}

/* Styles */
html {
    height: 100%;
    overflow: auto;
	overflow-x: hidden;
}

body {
    background: white;
    color: #37474f;
    font-family: 'Maven Pro', sans-serif;
    font-size: 23px;
    position: relative;
    line-height: 1.4;
	padding: 10px 10px 0 10px;
}
.disable-hover { pointer-events: none; }
body, input, button { -webkit-font-smoothing: antialiased; }
::-webkit-scrollbar { width: 7px; height: 7px; }
::-webkit-scrollbar-track { background: #eee; }
::-webkit-scrollbar-thumb { background: rgba(0,0,0,0.4); }
::-webkit-scrollbar-thumb:window-inactive { background: rgba(0,0,0,0.1); }

h1, h2, h3, h4 { font-weight: normal; margin: 0; font-family: 'Montserrat', sans-serif; line-height: 1; }
h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 16px; }

.darkblue { color: #90a4ae; }
.lightblue { color: #cfd8dc; }
.bg_lightgrey { background: #eee; }
.bg_grey { background: #263238; }
.logo {
	display: block;
	width: 90%;
	max-width: 315px;
	margin-bottom: 24px;
}
/* Bars */
	.bar {
		display: block;
		position: relative;
		overflow: hidden;
		margin-bottom: 10px;
		background-size: cover;
		background-position: 50% 50%;
	}
		.bar .c {
			width: 96%;
			max-width: 1425px;
			display: block;
			margin: 0px auto;
			position: relative;
			padding: 65px 0 70px 0;
			color: white;
			z-index: 4;
		}
			.bar_header { border-left: 5px solid #e74c3c; z-index: 2; }
		.bar-column1 {
			float: left;
			width: 650px;
		}
		.bar h2 { margin-bottom: 20px; }
/* End-Bars */
/* Preview list */
	.previews { font-size: 0; margin-top: 5px;}
	.preview-blok {
		display: inline-block;
		vertical-align: top;
		width: 250px;
		margin: 0 15px 25px 0;
		font-size: 15px;
		background: white;
		border: 1px solid #ccc;
		border-bottom-width: 2px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
	}
		.preview-img {
			background: #ccc;
			display: block;
			width: 100%;
			height: 200px;
			background-size: cover;
			background-position: 50% 50%;
			border-bottom: 1px solid #ccc;
		}
		.preview-blok:hover, .preview-blok.selected { border-color: #e74c3c; border-bottom-width: 1px; }
	.preview-title {
		padding: 5px 10px;
	}
	.bar_desc h2 { text-transform: uppercase; color: #37474f; }
	.bar_desc .text { color: #37474f; }
	.imgContainer { display: none; }
	.image { overflow: auto; }
	.image img { display: block; margin: 0 auto; }
	.nottrueSize .image img { max-width: 100%; height: auto !important; }
/* End-Preview list */

.transition {
	-webkit-transition: all 450ms ease;
	-moz-transition: all 450ms ease;
	-ms-transition: all 450ms ease;
	-o-transition: all 450ms ease;
	transition: all 450ms ease;
}
.ellipsis {
	white-space: nowrap;
	overflow: hidden;
	-ms-text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
}

.controls {
	float: right;
}
	.controls a {
		text-align: center;
		float: right;
		padding: 0 10px;
		color: #90a4ae;
	}
	.controls a svg {
		display: block;
		margin: 0 auto 10px auto;
		width: 48px;
		height: 48px;
		fill: #90a4ae;
	}
	.controls a span {
		display: block;
		font-size: 15px;
	}
	.controls a:hover, .trueSize .controls a.ts, .nottrueSize .controls a.notts { color: #37474f; }
	.controls a:hover svg, .trueSize .controls a.ts svg, .nottrueSize .controls a.notts svg { fill: #37474f; }

@media(max-width:1275px){
	.bar-column1 { width: 560px; }
}
@media(max-width:1050px){
	.bar-column1 { width: 550px; }
}
@media(max-width:975px){
	.bar-column1 { margin: 0; width: 60%;}
	.bar .c { padding: 55px 0 50px 0; }
}
@media(max-width:850px){
	body { padding: 0; font-size: 21px; }
	.bar-column1 { width: 90%;}
	.controls { width: 100%; margin-top: 10px;}
	.bar .c { padding: 45px 20px 40px 20px; }
}
@media(max-width:500px){
	.bar-column1 { width: 100%; }	
}
